body {
    margin: 0;
    padding: 0;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: url("Assets/Other/Cloud-Background.png");
    background-repeat: repeat;
    background-size: 100% 100%; 
    z-index: -100000;
}

.ducky {
    height: 150px;
    width: 150px;
    position: absolute;
    background-image: url("Assets/DuckSprites/duckRight.gif");
    background-repeat: no-repeat;
    background-size: cover;
}