body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: url("Assets/Other/Cloud-Background.png");
    background-repeat: repeat;
    background-size: 100% 100%; 
    z-index: -100000;
}

.grass {
    width: 25%;
    height: 8%;
    position: absolute;
    bottom: -1%;
    background-image: url("Assets/Other/grass.png");
    background-repeat: repeat-x;  
    background-size: cover;
}

.g2 {left: 25%}

.g3 {left: 50%;}

.g4 {left: 75%}

.corndog {
    height: 60vh;
    width: 14.4vh;
    position: absolute;
    top: 8vh;
    left: calc(50vw - 7.2vh);
    background: url("Assets/Other/corndog.png");
    background-repeat: repeat;
    background-size: 100% 100%;
    transition: transform .2s, left .2s, top .2s;
    transform-origin: middle center;
    cursor: pointer;
    z-index: 10;
}

.corndog-hover:hover {
    transform: scale(1.15);
}

.ducky {
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 15px;
    background-image: url("Assets/DuckSprites/duckRight.gif");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.duck {
    left: 50%;
}